<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--数据库的基本配置-->
  <settings>

    <!--数据库连接配置是否加密-->
    <add key="encrypt" value="false" />

    <!--加密码方式-->
    <add key="encryptType" value="DES"/>

    <!--密钥-->
    <add key="secretKey" value="Wizard" />

    <!--是否启用数据处理监控 启用数据处理会把页面所执行的Sql和连接字符串都输出到页面，正式上线后请及时关闭-->
    <add key="isMonitor" value="false"/>

  </settings>

  <!--连接数据库-->
  <dbases>
   
    <dbase key="connector"
      alias="开发数据库"
      dbtype="MySql"
      dbserver="122.112.168.66;port=3306;allow user variables=true;Allow Zero Datetime=True;"
      username="root"
      password="hw2_mariadb.root"
      dbname="ict"
      encrypt="False"
      charset="utf8"
      cachekey=""
      dbid="0"
    />
    
  </dbases>

</configuration>